@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane>svg,
.leaflet-pane>canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0
}

.leaflet-container {
	overflow: hidden
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-drag: none
}

.leaflet-tile::selection {
	background: 0 0
}

.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast
}

.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block
}

.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
	max-width: none !important;
	max-height: none !important
}

.leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y
}

.leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pinch-zoom;
	touch-action: none;
	touch-action: pinch-zoom
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: none;
	touch-action: none
}

.leaflet-container {
	-webkit-tap-highlight-color: transparent
}

.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, .4)
}

.leaflet-tile {
	filter: inherit;
	visibility: hidden
}

.leaflet-tile-loaded {
	visibility: inherit
}

.leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 800
}

.leaflet-overlay-pane svg {
	-moz-user-select: none
}

.leaflet-pane {
	z-index: 400
}

.leaflet-tile-pane {
	z-index: 200
}

.leaflet-overlay-pane {
	z-index: 400
}

.leaflet-shadow-pane {
	z-index: 500
}

.leaflet-marker-pane {
	z-index: 600
}

.leaflet-tooltip-pane {
	z-index: 650
}

.leaflet-popup-pane {
	z-index: 700
}

.leaflet-map-pane canvas {
	z-index: 100
}

.leaflet-map-pane svg {
	z-index: 200
}


.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted;
	pointer-events: auto
}

.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none
}

.leaflet-top {
	top: 0
}

.leaflet-right {
	right: 0
}

.leaflet-bottom {
	bottom: 0
}

.leaflet-left {
	left: 0
}

.leaflet-control {
	float: left;
	clear: both
}

.leaflet-right .leaflet-control {
	float: right
}

.leaflet-top .leaflet-control {
	margin-top: 10px
}

.leaflet-bottom .leaflet-control {
	margin-bottom: 10px
}

.leaflet-left .leaflet-control {
	margin-left: 10px
}

.leaflet-right .leaflet-control {
	margin-right: 10px
}

.leaflet-fade-anim .leaflet-tile {
	will-change: opacity
}

.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	transition: opacity .2s linear
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1
}

.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change: transform
}

.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1);
	-moz-transition: -moz-transform .25s cubic-bezier(0, 0, .25, 1);
	transition: transform .25s cubic-bezier(0, 0, .25, 1)
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none
}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden
}

.leaflet-interactive {
	cursor: pointer
}

.leaflet-grab {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab
}

.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair
}

.leaflet-popup-pane,
.leaflet-control {
	cursor: auto
}

.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing
}

.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane>svg path,
.leaflet-tile-container {
	pointer-events: none
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane>svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted;
	pointer-events: auto
}
.leaflet-control-geosearch.bar {
	width: 100% !important;
	margin: 0px !important;
}
.leaflet-control-geosearch.bar form {
	background: #fafafa !important;
}
.leaflet-container {
	background: #ddd;
	outline: 0
}

.leaflet-container a {
	color: #0078a8
}

.leaflet-container a.leaflet-active {
	outline: 2px solid orange
}

.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255, 255, 255, .5)
}

.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif
}

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
	border-radius: 4px
}

.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #000
}

.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block
}

.leaflet-bar a:hover {
	background-color: #f4f4f4
}

.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none
}

.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb
}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px
}

.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px
}

.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 22px
}

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
	background: #fff;
	border-radius: 5px
}

.leaflet-control-layers-toggle {
	width: 36px;
	height: 36px
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-size: 26px 26px
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative
}

.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff
}

.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px
}

.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px
}

.leaflet-control-layers label {
	display: block
}

.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px
}

.leaflet-default-icon-path {
}

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, .7);
	margin: 0
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333
}

.leaflet-control-attribution a {
	text-decoration: none
}

.leaflet-control-attribution a:hover {
	text-decoration: underline
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px
}

.leaflet-left .leaflet-control-scale {
	margin-left: 5px
}

.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px
}

.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	background: rgba(255, 255, 255, .5)
}

.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0, 0, 0, .2);
	background-clip: padding-box
}

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px
}

.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px
}

.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4
}

.leaflet-popup-content p {
	margin: 18px 0
}

.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none
}

.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: #fff;
	color: #333;
	box-shadow: 0 3px 14px rgba(0, 0, 0, .4)
}

.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: 700;
	background: 0 0
}

.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999
}

.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd
}

.leaflet-oldie .leaflet-popup-content-wrapper {
	zoom: 1
}

.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)
}

.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px
}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999
}

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666
}

.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4)
}

.leaflet-tooltip.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: 0 0;
	content: ""
}

.leaflet-tooltip-bottom {
	margin-top: 6px
}

.leaflet-tooltip-top {
	margin-top: -6px
}

.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px
}

.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff
}

.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff
}

.leaflet-tooltip-left {
	margin-left: -6px
}

.leaflet-tooltip-right {
	margin-left: 6px
}

.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px
}

.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff
}

.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff
}

.large-6 {
	max-width: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%
}

.large-10 {
	max-width: 83.33333%;
	-ms-flex-preferred-size: 83.33333%;
	flex-basis: 83.33333%
}

.large-2 {
	max-width: 16.66667%;
	-ms-flex-preferred-size: 16.66667%;
	flex-basis: 16.66667%
}

.vertical-thumbnails {
	overflow-x: hidden;
	overflow-y: auto
}

.vertical-thumbnails .flickity-slider,
.vertical-thumbnails .flickity-viewport {
	-ms-transform: none !important;
	transform: none !important;
	overflow: visible !important;
	height: auto !important
}

.vertical-thumbnails .col {
	position: relative !important;
	left: 0 !important;
	max-width: 100% !important;
	min-height: 0 !important;
	margin-left: 1px;
	width: 95% !important;
	right: 0 !important;
	padding: 0 0 15px !important
}

#view {
	margin: auto;
	height: 100%!important;
	width: 100%!important
}

#viewdesign {
	height: 100%;
	width: 100%;
	position: absolute;
	border-style: solid!important
}

#firstborder {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-style: solid!important;
	z-index: 98
}

#secondborder {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-style: solid!important;
	z-index: 98
}

#main-menu {
	display: none
}

.attributions {
	text-align: right;
	margin-top: -20px;
	font-size: 0.7em
}

.attrilink {
	color: #a5a5a5
}

.submitbutton {
	width: 100%;
	margin-bottom: .5em
}

.icon-inner {
	margin-top: 3px!important
}

#zoomText {
	margin-right: .3em
}

#zoomWrap {
	margin: 20px auto;
	text-align: right
}

.numberpicker {
	flex: 0 1 auto!important;
	width: 60px!important
}

@media only screen and (max-width:991px) {
	.editor {
		height: auto !important
	}
}


.hide {
	display: none!important
}

#logo img {
	max-height: 26px
}

.header-logo-dark {
	display: none !important
}

#checkout_cart {
	float: left
}

.pac-container {
	z-index: 9999 !important
}

#coorddesign {
	height: 100%;
	width: 100%
}

.btn-success.disabled,
.btn-success:disabled {
	border-color: #7796a8;
	!important;
	border: none !important
}


.check {
	border: 3px solid #4d64ac !important
}

.check-radio {
	background-color: #0274be !important;
	color: #fff!important
}

.btn-full {
	border-radius: 0 !important;
	padding: .7rem !important
}

.checklabel {
	opacity: .5
}

.previewbtn {
	padding: .2rem 0 !important;
	margin-bottom: 0
}

.accheader {
	border-bottom: 4px solid #fff;
	background-color: #faf9fa
}

.btn-link {
	color: #0f0f0f !important
}

.footer {
	box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, .1);
	position: fixed;
	bottom: 0;
	width: 33.333333%;
	background-color: #f5f5f5;
	z-index: 999;
	right: 0
}

.mobilefooter {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 999
}

.form-control {
	padding: .5rem .75rem !important;
	font-size: .9rem !important;
	border: 0 !important;
	border-bottom: 1px solid #ced4da !important;
	border-radius: 0 !important;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-bottom: 2px solid #4d64ac !important;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0)!important
}

.form-group {
	position: relative !important;
	margin-top: 1rem !important
}

.form-control-placeholder {
	position: absolute !important;
	top: 0 !important;
	transition: all .2s !important;
	opacity: .5 !important
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
	font-size: 75% !important;
	transform: translate3d(0, -100%, 0) !important;
	z-index: 10
}

.input-group-text {
	border: 1px solid #fff!important;
	border-radius: 0!important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 !important;
	margin-bottom: 0;
	font-size: 1.2rem !important;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #fff!important;
	border-bottom: 1px solid #fff !important
}

.google-ph {
	padding-left: 1.5rem
}

.btn {
	border-radius: 0
}

.btn-primary {
	color: #0f0f0f !important;
	border: 2px solid currentColor !important;
	border-color: #0274be !important;
	background-color: #fff !important
}

.btn-primary:hover,
.btn-primary:focus {
	color: #fff !important;
	border-color: #303030 !important;
	background-color: #303030 !important
}

.btn-outline-secondary {
	color: #0274be !important;
	border: 2px solid currentColor !important;
	border-color: #0f0f0f !important
}

.btn-outline-secondary:hover {
	color: #0274be !important;
	border: 2px solid currentColor !important;
	border-color: #0f0f0f !important;
	background-color: #0f0f0f !important
}

.btn-success {
	color: #fff;
	background-color: #0274be !important;
	border-color: #0274be !important
}

.btn-success:hover {
	color: #fff;
	background-color: #303030 !important;
	border-color: #303030 !important
}

.btn-success:active {
	color: #fff;
	background-color: #303030 !important;
	border-color: #303030!important
}

.optionbtn {
	border-radius: 2px !important;
	padding: .375rem .75rem !important
}

.btn-secondary:hover {
	border-color: transparent !important
}

.dimension {
	font-size: 1em
}

@media only screen and (max-width:768px) {
	.height-dimension {
		transform: translateY(-69vh) !important;
		height: 65.8vh !important;
		margin-left: 47vh !important;
		padding-left: 1rem !important
	}
	.width-dimension {
		transform: translateY(.25rem);
		width: 100%;
		margin: 0 auto
	}
}

hr {
	margin: auto !important
}

.height-dimension {
	transform: translateY(-86vh);
	height: 84vh;
	margin-left: 60vh;
	padding-left: 3rem
}

.width-dimension {
	transform: translateY(.25rem);
	width: 100%;
	margin-top: 1em
}

.height-dimension .first {
	border-left: 1px solid rgba(89, 89, 89, .5);
	width: 1px;
	height: calc(50%);
	margin-top: 0;
	margin-bottom: 0
}

.height-dimension .second {
	border: unset;
	border-left: 1px solid rgba(89, 89, 89, .5);
	width: 1px;
	height: calc(50% - 1.5rem);
	margin-top: 0;
	margin-bottom: 0
}

.width-dimension .first {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	border: unset;
	border-top: 1px solid rgba(89, 89, 89, .5);
	height: 1px;
	margin: 0;
	width: calc(50% - 21.04px)
}

.width-dimension .second {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	border: unset;
	border-top: 1px solid rgba(89, 89, 89, .5);
	height: 1px;
	margin: 0;
	width: calc(50% - 21.04px)
}

.form-check-label {
	font-size: 12px
}


.slider {
	width: 95%;
	margin: .5rem;
	height: 4rem
}

label {
	margin: .5rem 0 !important
}

.slider_nav {
	width: 100%;
	z-index: 9999;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #d1d1d1;
	padding: .25rem
}

.nav-link {
	display: block;
	padding: .5rem !important
}

.nav-btn {
	margin: 0 auto
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #0f0f0f!important;
	border-bottom: 2px solid #0f0f0f !important;
	background-color: transparent !important
}

.nav-pills .nav-link {
	color: #0f0f0f!important;
	border-radius: 0 !important;
	font-size: .9rem !important
}

#blocker {
	position: absolute;
	top: 80%;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 89, 106, 0)), to(rgba(76, 89, 106, .6)));
	background: linear-gradient(rgba(76, 89, 106, 0), rgba(76, 89, 106, .6));
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.binding {
	display: inline-block;
	padding: 0 10px;
	padding: 0 1rem;
	font-size: 14px;
	font-size: .95rem;
	color: #fff;
	text-align: center;
	letter-spacing: -.03em;
	pointer-events: none;
	padding-bottom: 1.7rem
}

.fwrap {
	padding: 1rem 0
}

.mobilelabel {
	font-size: .7rem
}

.mapViewer {
	position: absolute
}

.canvaswrap {
	height: 100%
}

#top_nav_bar {
	min-height: 45px
}

@media only screen and (min-width:991px) {
	.maincanvas {
		-webkit-box-shadow: inset 7px 0px 7px 0px rgba(191, 191, 191, .75);
		-moz-box-shadow: inset 7px 0px 7px 0px rgba(191, 191, 191, .75);
		box-shadow: inset 7px 0px 7px 0px rgba(191, 191, 191, .75)
	}
	#top_nav_bar {
		height: 5vh
	}
	#mapContainer {
		height: 85vh
	}
	.maincanvas {
		height: 85vh
	}
}

.sidemenu {
	overflow-x: hidden;
	overflow-y: auto;
	height: 85vh
}

@media only screen and (max-width:990px) {
	#top_nav_bar {
		height: 6vh
	}
	#mapContainer {
		height: 89vh
	}
	.maincanvas {
		height: 89vh
	}
	#header_logo {
		vertical-align: initial
	}
	.navbar {
		padding: .1rem 1rem!important
	}
	.navbar-light {
		height: 5vh
	}
	#checkoutButton_mob {
		height: 5vh
	}
}

@media only screen and (max-width:690px) {
	#top_nav_bar {
		height: 9vh
	}
	#mapContainer {
		height: 84vh
	}
	.maincanvas {
		height: 84vh
	}
	#header_logo {
		vertical-align: initial
	}
	.navbar {
		padding: .1rem 1rem!important
	}
	.navbar-light {
		height: 7vh
	}
	#checkoutButton_mob {
		height: 7vh
	}
}

.maincanvas {
	width: 100vw;
	overflow: hidden;
	background-color: #f6f6f6
}

#printTemplate {
	margin: auto;
	position: absolute;
	z-index: 500;
	top: 0!important;
	pointer-events: none
}

.img-thumbnail {
	border-radius: 50% !important;
	padding: 0 !important
}

.page-container {
	height: 85vh!important
}

.main-content {
	height: 100vh!important
}

.iconclose {
	display: inline-block
}

.iconopen {
	display: none
}

.collapsed .iconclose {
	display: none!important
}

.collapsed .iconopen {
	display: inline-block!important
}

.accordlabel {
	width: 70%;
	text-align: left;
	cursor: pointer
}

.chevronicons {
	display: inline-block;
}

.accordbtn {
	width: 100%
}

.headerlabel {
	border: none !important;
	padding: 0!important;
	color: #0f0f0f!important
}

.col-2 {
	-ms-flex: 0 0 20% !important;
	flex: 0 0 20% !important;
	max-width: 20% !important
}

select {
	display: inline-block;
	max-width: 100%;
	padding: .375rem 1.75rem .375rem .75rem;
	margin-right: 1rem;
	line-height: 1.5;
	vertical-align: middle;
	background: #f0f0f0 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	background-size: 7px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	resize: none;
	font-size: 1rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.mapViewer {
	left: 50%;
	top: 50%;
	transform-origin: 50% 50%;
	box-shadow: .25em .25em 1em grey
}

.leaflet-tile {
	width: 257px!important;
	height: 257px!important
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.leaflet-control-attribution {
	display: none
}